[Desktop Entry]
Name[be]=Squeekboard
Name[ca]=Teclat virtual
Name[cs]=Squeekboard
Name[de]=Squeekboard
Name[el]=Squeekboard
Name[es]=Squeekboard
Name[eu]=Squeekboard
Name[fa]=اسکوییک‌برد
Name[fi]=Squeekboard
Name[fr]=Squeekboard
Name[fur]=Squeekboard
Name[gl]=Squeekboard
Name[he]=Squeekboard
Name[hi]=स्क्वीकबोर्ड
Name[hr]=Squeekboard
Name[ht]=Squeekboard
Name[hu]=Squeekboard
Name[it]=Squeekboard
Name[ka]=Squeekboard
Name[ko]=스퀴크 보드
Name[nl]=Squeekboard
Name[oc]=Squeekboard
Name[pl]=Squeekboard
Name[pt]=Squeekboard
Name[pt_BR]=Squeekboard
Name[ro]=Squeekboard
Name[ru]=Squeekboard
Name[sl]=Cvilkovnica
Name[sr]=Сквик-табла
Name[tr]=Squeekboard
Name[uk]=Squeekboard
Name[sv]=Squeekboard
Name[zh_CN]=Squeekboard
Name=Squeekboard
GenericName[be]=Экранная клавіятура
GenericName[ca]=Teclat en pantalla
GenericName[cs]=Klávesnice na obrazovce
GenericName[de]=Bildschirmtastatur
GenericName[el]=Πληκτρολόγιο οθόνης
GenericName[es]=Teclado en pantala
GenericName[eu]=Pantailako teklatua
GenericName[fa]=صفحه‌کلید لمسی
GenericName[fi]=Näyttönäppäimistö
GenericName[fr]=Clavier virtuel
GenericName[fur]=Tastiere a visôr
GenericName[gl]=Teclado en pantalla
GenericName[he]=מקלדת על המסך
GenericName[hi]=ऑनस्क्रीन कुंजीपट
GenericName[hr]=Zaslonska tipkovnica
GenericName[ht]=Sou Ekran Klavye
GenericName[hu]=Képernyő-billentyűzet
GenericName[it]=Tastiera su schermo
GenericName[ka]=ეკრანის კლავიატურა
GenericName[ko]=화상 키보드
GenericName[nl]=Schermtoetsenbord
GenericName[oc]=Clavièr visual
GenericName[pl]=Klawiatura ekranowa
GenericName[pt]=Teclado no ecrã
GenericName[pt_BR]=Teclado virtual
GenericName[ro]=Tastatură pe ecran
GenericName[ru]=Экранная клавиатура
GenericName[sl]=Zaslonska tipkovnica
GenericName[sr]=Тастатура на екрану
GenericName[tr]=Ekran Klavyesi
GenericName[uk]=Екранна клавіатура
GenericName[sv]=Skärmtangentbord
GenericName[zh_CN]=屏幕键盘
GenericName=On Screen Keyboard
Comment[be]=Віртуальная экранная клавіятура
Comment[ca]=Un teclat virtual en pantalla
Comment[cs]=Přidat virtuální klávesnici na obrazovce
Comment[de]=Eine virtuelle Bildschirmtastatur
Comment[el]=Εικονικό πληκτρολόγιο οθόνης
Comment[es]=Un teclado virtual en pantalla
Comment[eu]=Gehitu pantailako teklatu birtuala
Comment[fa]=یک صفحهٔ کلید لمسی مجازی
Comment[fi]=Virtuaalinen näyttönäppäimistö
Comment[fr]=Un clavier virtuel affiché à l’écran
Comment[fur]=Une tastiere virtuâl a visôr
Comment[gl]=Un teclado en pantalla virtual
Comment[he]=מקלדת מדומה על המסך
Comment[hi]=एक ऑनस्क्रीन वर्चुअल कुंजीपट
Comment[hr]=Zaslonska virtualna tipkovnica
Comment[ht]=Sou yon ekran klavye vityèl
Comment[hu]=Egy virtuális képernyő-billentyűzet
Comment[it]=Una tastiera virtuale su schermo
Comment[ka]=ეკრანზე ვირტუალური კლავიატურის ჩვენება
Comment[ko]=가상 키보드
Comment[nl]=Een virtueel schermtoetsenbord
Comment[oc]=Un clavièr virtual sus l’ecran
Comment[pl]=Wirtualna klawiatura ekranowa
Comment[pt]=Um teclado virtual no ecrã
Comment[pt_BR]=Um teclado virtual
Comment[ro]=O tastatură virtuală pe ecran
Comment[ru]=Виртуальная клавиатура на экране
Comment[sl]=Navidezna zaslonska tipkovnica
Comment[sr]=Виртуелна тастатура на екрану
Comment[tr]=Sanal ekran klavyesi
Comment[uk]=Екранна віртуальна клавіатура
Comment[sv]=Ett virtuellt skärmtangentbord
Comment[zh_CN]=一个虚拟屏幕键盘
Comment=An on screen virtual keyboard
Exec=/usr/bin/wvkbd-mobintl
Icon=input-keyboard-symbolic
Terminal=false
Type=Application
NoDisplay=true
Categories=GTK;Utility;
OnlyShowIn=Phosh;
X-GNOME-Provides=inputmethod
X-GNOME-AutoRestart=true
